.container {
    display: flex;
    flex-direction: row;
}

.circleContainer {
    width:120px;
    margin:auto;
    text-align:center;
}

.descriptionContainer {
    width: 290px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    height:170px;
}

.descriptionHeadline {
    margin-top:25px;
    font-size: 13px;
}

.descriptor {
    color: #9c9c9c;
    margin-bottom:15px;
    font-size: 15px;

}

.descriptionText {
    color: #9c9c9c;
    font-size: 12px;
    margin-top: 6px;
}

.score {
    margin:auto;
    color: rgba(230, 126, 61);
    font-size: 60px;
}

.vl {
        border-left: 1px solid #efefef;
        height: 170px;
      }
