.container {
    height: 230px;
    width: 100%;
}

.header {
    display:flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 5px;
}



.chartContainer {
    width: 100%;
}

.dropdown {
    display:flex!important;
    justify-content:space-between!important;
    background-color: white!important;
    color: darkslategrey!important;
    height: 30px;
    font-size: 11px!important;
    border-radius: 9px!important;
    border-color: #49505750!important;
    width: 193px!important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align:left!important;
    font-style: italic!important;
    align-items:baseline!important;
}