/** @format */

@import url("../fonts/gilroy300.ttf");
@import url("../fonts/gilroy400.ttf");
@import url("../fonts/gilroy500.ttf");
@import url("../fonts/gilroy700.ttf");
@import url("../fonts/gilroy700.ttf");

@font-face {
	font-family: "Gilroy";
	src:
		local("Gilroy Regular"),
		url("../fonts/gilroy300.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: "Gilroy";
	src:
		local("Gilroy Regular"),
		url("../fonts/gilroy400.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Gilroy";
	src:
		local("Gilroy Medium"),
		url("../fonts/gilroy500.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "Gilroy";
	src:
		local("Gilroy Semi Bold"),
		url("../fonts/gilroy600.ttf") format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: "Gilroy";
	src:
		local("Gilroy Bold"),
		url("../fonts/gilroy700.ttf") format("truetype");
	font-weight: 700;
}
